@import '../../../../@theme/styles/themes';

nb-card-header:empty, nb-card-body:empty, nb-card-footer:empty {
  display: none;
}

nb-card {
  position: relative;
}

:host-context(.card-back)  nb-card {
  height: 100%;
}

:host-context(.pfm-card-xxsmall) nb-card {
  height: nb-theme(card-height-xxsmall);
}
:host-context(.pfm-card-xsmall) nb-card {
  height: nb-theme(card-height-xsmall);
}
:host-context(.pfm-card-small) nb-card {
  height: nb-theme(card-height-small);
}
:host-context(.pfm-card-medium) nb-card {
  height: nb-theme(card-height-medium);
}
:host-context(.pfm-card-large) nb-card {
  height: nb-theme(card-height-large);
}
:host-context(.pfm-card-xlarge) nb-card {
  height: nb-theme(card-height-xlarge);
}
:host-context(.pfm-card-xxlarge) nb-card {
  height: nb-theme(card-height-xxlarge);
}
