@import '../../../@theme/styles/themes';

:host ::ng-deep breadcrumb .breadcrumb {  /* stylelint-disable-line */
  background-color: transparent;
  margin-bottom: 0;
}
:host ::ng-deep breadcrumb a {  /* stylelint-disable-line */
  cursor: pointer;
  color: nb-theme(link-color) !important;
}
:host ::ng-deep breadcrumb a:hover {  /* stylelint-disable-line */
  color: nb-theme(link-color-hover) !important;
}
