@import '../../../@theme/styles/themes';

.revealcard {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: calc(100% - #{nb-theme(card-padding)});
}
.front {
  z-index: 1;
}
.back {
  top: 130%;
  position: absolute;
  transition: all 0.3s ease-out;
  width: 100%;
}

.revealcard.revealed > .back {
  top: 0;
  z-index: 2;
}

.reveal-button {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  padding: nb-theme(card-padding);
}

.revealcard.revealed > .back > .reveal-button {
  z-index: 3;
}
