<p>
  Environment: {{environmentName}}
</p>
<p class="row">
  <button class="btn btn-primary" (click)="showNotification()">Show Notification</button>
</p>
<div class="row">
  <div class="col-xl-6 col-sm-12">
    <pfm-flip-card>
      <pfm-card-front>
        <nb-card size="medium">
          <pfm-card-accent type="warning"></pfm-card-accent>
          <nb-card-header>header</nb-card-header>
          <nb-card-body>
            <p>some text</p>
            <p>some text</p>
            <p>some text</p>
            <p>some text</p>
            <p>some text</p>
          </nb-card-body>
          <nb-card-footer>footer</nb-card-footer>
        </nb-card>
      </pfm-card-front>
      <pfm-card-back>
        <nb-card size="medium">
          <nb-card-body>
            back
          </nb-card-body>
        </nb-card>
      </pfm-card-back>
    </pfm-flip-card>
  </div>
  <div class="col-xl-6 col-sm-12">
    <pfm-reveal-card>
      <pfm-card-front>
        <nb-card size="medium">
          <pfm-card-accent type="info"></pfm-card-accent>
          <nb-card-header>header</nb-card-header>
          <nb-card-body>
            <p>some text</p>
            <p>some text</p>
            <p>some text</p>
            <p>some text</p>
            <p>some text</p>
          </nb-card-body>
          <nb-card-footer>footer</nb-card-footer>
        </nb-card>
      </pfm-card-front>
      <pfm-card-back>
        <nb-card size="medium">
          <nb-card-body>
            back
          </nb-card-body>
        </nb-card>
      </pfm-card-back>
    </pfm-reveal-card>
  </div>
</div>
